#product-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#product-details .property {
  font-weight: bold;
  font-size: 18px;
  font-family: "Varta", sans-serif;
  line-height: 21.78px;
}

#product-details .value {
  font-weight: normal;
}

#product-details .title-long {
  font-weight: bold;
  font-size: 32px;
  font-family: "Varta", sans-serif;

  margin-top: 25px;
}

#product-details .features-list {
  font-weight: bold;
  font-size: 11px;
  font-family: "Varta", sans-serif;
  margin-top: 15px;
}

#property-details .rating {
  display: flex;
  margin-top: 25px;
}

@media (max-width: 768px) {
  #product-details .title-long {
    font-weight: bold;
    font-size: 14px;
    font-family: "Varta", sans-serif;
    margin-top: 25px;
  }

  .star {
    margin-top: 10px;
    height: 20px;
    width: 20px;
  }
}
