#about {
  background-color: rgba(243, 238, 232, 1);
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 48px;
}

#about .left-container {
  width: 64vh;
  height: 28.5vh;
  flex-wrap: wrap;
}

#about .left-container-text {
  font-size: 3.43rem;
  color: rgba(112, 100, 88, 1);
  font-family: "Varta", sans-serif;
}

#about .flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 40%;

  justify-content: space-between;
}

#about .flex-item {
  display: flex;
  flex-direction: column;
  width: 258px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#about .flex-title {
  color: rgba(160, 96, 86, 1);
  font-size: 1.5rem;
  font-family: "Varta", sans-serif;
  font-weight: bold;
}

#about .flex-text {
  color: rgba(112, 100, 88, 0.9);
  font-family: "Varta", sans-serif;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  #about {
    background-color: rgba(243, 238, 232, 1);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 48px;
    padding: 48px, 32px, 48px, 32px;
  }

  #about .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

  #about .flex-item {
    width: 90%;
  }

  #about .flex-title {
    color: rgba(160, 96, 86, 1);
    font-size: 1.5rem;
    font-family: "Varta", sans-serif;
    font-weight: bold;
  }

  #about .flex-text {
    color: rgba(112, 100, 88, 0.9);
    font-family: "Varta", sans-serif;
    font-size: 1.1rem;
  }

  #about .left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-top: 10px;
    width: 88%;
    margin-bottom: -100px;
  }

  #about .left-container-text {
    font-size: 2.188rem;
    color: rgba(112, 100, 88, 1);
    font-family: "Varta", sans-serif;
  }
}
