#head {
  background-color: rgba(243, 238, 232, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
}

#head .head-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#head .left-head {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

#head .home-design-card {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 372px;
  gap: 50px;
}

#head .right-head {
  width: 50%;
}

#head .img {
  height: 100%;
  width: 100%;
}

#head .title {
  color: rgba(160, 96, 86, 1);
  font-size: 0.875rem;
  font-family: "Varta", sans-serif;
}

#head .sub-title {
  font-size: 3.125rem;
  font-family: "Varta", sans-serif;
  color: rgba(160, 96, 86, 1);
}

#head .sub-text {
  color: rgba(112, 100, 88, 0.9);
}

#head .arrow {
  height: 50px;
  width: 50px;
}

@media (max-width: 768px) {
  #head {
    flex-direction: column;
  }

  #head .left-head,
  #head .right-head {
    width: 100%;
  }

  #head .left-head {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  #head .title,
  #head .sub-title,
  #head .sub-text {
    color: inherit;
  }

  #head .home-design-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
