#subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 80px;
  align-items: center;
}

#subscribe .left-container {
  display: flex;
  flex-direction: column;
}

#subscribe .title {
  font-size: 2.188rem;
  color: rgba(18, 18, 18, 1);
  list-style: 40px;
}

#subscribe .sub-title {
  color: rgba(112, 100, 88, 0.9);
  font-size: 1.125rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

#subscribe .right-container {
  display: flex;
  flex-direction: row;
}

#subscribe .input {
  background-color: rgba(243, 238, 232, 0.3);
  width: 296.1px;
  height: 50px;
  border-radius: 1px;
  padding-left: 6px;
  border: none;
}

#subscribe .btn {
  background-color: rgba(83, 75, 66, 1);
  color: rgba(255, 255, 255, 1);
  width: 143px;
  height: 50px;
  border-radius: 1px;
  padding-left: 6px;
  border: none;
  margin-left: 15px;
}

@media (max-width: 768px) {
  #subscribe {
    display: flex;
    flex-direction: column;
    width: 359px;
    height: 100%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  #subscribe .right-container {
    display: flex;
    flex-direction: column;
    width: 390px;
  }

  #subscribe .left-container {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  #subscribe .input {
    background-color: rgba(243, 238, 232, 0.3);
    width: 80%;
    height: 50px;
    border-radius: 1px;
    padding-left: 6px;
    border: none;
    margin-left: 17px;
    margin-bottom: 20px;
  }

  #subscribe .btn {
    background-color: rgba(83, 75, 66, 1);
    color: rgba(255, 255, 255, 1);
    width: 80%;
    height: 50px;
    border-radius: 1px;
    padding-left: 6px;
    border: none;
    margin-left: 15px;
  }

  #subscribe .title {
    font-size: 2.188rem;
    color: rgba(18, 18, 18, 1);
    list-style: 40px;
    width: 290px;
    flex-wrap: wrap;
  }
}
